<footer class="footer">
    <div class="container">

        <div class="markets">
            <a href="https://itunes.apple.com/" class="markets_i markets_i__apple" title="App Store">App store</a>
            <a href="https://play.google.com/store" class="markets_i markets_i__google" title="Google Play">Google Play</a>
        </div>

        <nav class="nav">
            <div class="nav_i">
                <a class="nav_a" href="/" title="Main">Main</a>
            </div>
            <div class="nav_i">
                <a class="nav_a" href="/terms" title="Terms of usage">Terms of usage</a>
            </div>
            <div class="nav_i">
                <a class="nav_a" href="/faq" title="FAQ">FAQ</a>
            </div>
            <div class="nav_i">
                <a class="nav_a" href="/feedback" title="Feedback">Feedback</a>
            </div>
        </nav>

    </div>
</footer>