<footer>
    <div class="container">

        <div class="markets">
            <a href="https://itunes.apple.com/" class="markets_i markets_i__apple" title="App Store">App store</a>
            <a href="https://play.google.com/store" class="markets_i markets_i__google" title="Google Play">Google Play</a>
        </div>

        <nav class="nav">
            <a class="nav_i" href="/" title="Main">Main</a>
            <a class="nav_i" href="/terms" title="Terms of usage">Terms of usage</a>
            <a class="nav_i" href="/faq" title="FAQ">FAQ</a>
            <a class="nav_i" href="/feedback" title="Feedback">Feedback</a>
        </nav>

    </div>
</footer>