/* Layout
---------------------------------------------------------------------------------- */

/* Body
-------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    }

/* /Body */


/* Root
-------------------------------------------------- */

.root {
    flex-grow: 1;
    }

/* /Root */


/* Common wrapper
-------------------------------------------------- */

.container {
    position: relative;
    box-sizing: border-box;

    margin: 0 auto;
	padding: $grid-2 0;
    }

/* /Common wrapper */


/* Header
-------------------------------------------------- */

.header {

    }

/* /Header */


/* Footer
-------------------------------------------------- */

.footer {

    }

/* /Footer */


/* Main
-------------------------------------------------- */

.main {

    }

/* /Main */

/* /Layout
---------------------------------------------------------------------------------- */