/* Layout
---------------------------------------------------------------------------------- */

/* Body
-------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    }

/* /Body */


/* Root
-------------------------------------------------- */

.root {
    flex-grow: 1;

    padding: $grid-2 0 0;

    @media #{$media-m} {
        display: flex;
        width: 100%;
        }
    }

/* /Root */


/* Common wrapper
-------------------------------------------------- */

.container {
    position: relative;
    box-sizing: border-box;

    padding: 0 $grid-2;

    margin: 0 auto;
    max-width: $width-normal;

    @media #{$media-s} {
        padding: 0 $grid-4;
        }

    @media #{$media-m} {
        padding: 0 $grid-4 * 2;
        }
    }

/* /Common wrapper */


/* Header
-------------------------------------------------- */

.header {

    }

/* /Header */


/* Footer
-------------------------------------------------- */

.footer {
    padding: $grid-2 0;

    background: linear-gradient(transparent, $c-darkest 50%);

    @media #{$media-m} {
        padding-bottom: 4vh;
        }
    }

/* /Footer */


/* Main
-------------------------------------------------- */

.main {
    @media #{$media-m} {
        flex: 1 1 auto;
        align-self: center;
        }
    }

/* /Main */

/* /Layout
---------------------------------------------------------------------------------- */