/* Layout
---------------------------------------------------------------------------------- */

/* Body
-------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    }

/* /Body */


/* Root
-------------------------------------------------- */

.root {
    flex-grow: 1;

    padding: $grid-4 * 2 0;
    }

/* /Root */


/* Common wrapper
-------------------------------------------------- */

.container {
    position: relative;
    box-sizing: border-box;

    padding: 0 $grid-2;

    margin: 0 auto;
    max-width: $width-normal;

    @media($media-s) {
        padding: 0 $grid-4;
        }

    @media($media-m) {
        padding: 0 $grid-4 * 2;
        }
    }

/* /Common wrapper */


/* Header
-------------------------------------------------- */

.header {

    }

/* /Header */


/* Footer
-------------------------------------------------- */

.footer {
    padding: 0 0 $grid-3 * 2;
    }

/* /Footer */


/* Main
-------------------------------------------------- */

.main {

    }

/* /Main */

/* /Layout
---------------------------------------------------------------------------------- */