<div class="image">
    <img
            src="/img/lemon.png"
            srcset="/img/lemon@2x.png 2x"
            width="286" height="300"
            alt="Error 404: no such page"
    >
</div>

<h1>
    Oops... <br>
    no such page
</h1>