<!DOCTYPE html>
<html>
<head>
    <%- partial("partials/_head", {title: "KLMN"}) %>
</head>
<body>

<main>
    <div class="container">

        <%- yield %>

    </div>
</main>

<%- partial("partials/_footer") %>
<%- partial("partials/_scriptsBottom") %>
</body>
</html>