<h1>Feedback</h1>

<div class="feedback">
    <form class="form" action="/">
        <div class="form_i">
            <input type="text" name="name" required placeholder="Name"/>
        </div>
        <div class="form_i">
            <input type="email" name="email" required placeholder="Email"/>
        </div>
        <div class="form_i">
            <input type="text" name="model" placeholder="Smartphone model and OS (optional)"/>
        </div>
        <div class="form_i">
            <textarea name="message" required placeholder="Message"></textarea>
        </div>
        <div class="form_i">
            <input type="submit" class="button" value="Send" />
        </div>
    </form>
</div>