/* Feedback
---------------------------------------------------------------------------------- */

/*
cssg

	feedback
	    <form>

*/

.feedback {
    box-sizing: border-box;
	padding: $grid-5;
    max-width: $width-m;

    margin: 0 auto;
    margin-top: $grid-3 * 2;

    border-radius: $rad-moder;
    background: rgba(255, 255, 255, .15);
	}

/* /Feedback
---------------------------------------------------------------------------------- */