/* Headers
---------------------------------------------------------------------------------- */

@import "variables";

/*
cssg

	header

*/

h1,
.header {
    color: $c-brand;
    font-size: $fs-head;
    line-height: $lh-head;

    margin-bottom: $grid-2;
	}

/* /Headers
---------------------------------------------------------------------------------- */