/* Headers
---------------------------------------------------------------------------------- */

@import "variables";

/*
cssg

	header

*/

h1,
.header {
    margin: 0 0 $grid-2;

    color: $c-brand;

    font-size: $fs-head;
    font-family: $ff-alt;
    line-height: $lh-head;
    letter-spacing: .1ex;
    text-align: center;

    @media #{$media-s} {
        margin: 0 0 3vh;
        }
	}

/* /Headers
---------------------------------------------------------------------------------- */