/* Image
---------------------------------------------------------------------------------- */

@import "variables";

/*
cssg

	image
	    img . image_i

*/

.image {
	margin: $grid-4 0 $grid-3 * 2;

	text-align: center;
	user-select: none;
	}

.image_i {
	max-width: 100%;
	height: auto;
	}

/* /Image
---------------------------------------------------------------------------------- */