/* Intro
---------------------------------------------------------------------------------- */

@import "variables";

/*
cssg

	intro
		// todo

*/

.intro {
	margin-bottom: $grid-2;
	text-align: center;
	user-select: none;

	@media #{$media-s} {
		margin-bottom: 3vh;
		}

	img {
		max-width: 100%;
		height: auto;
		}
	}

/* /Intro
---------------------------------------------------------------------------------- */