/* Intro
---------------------------------------------------------------------------------- */

@import "variables";

/*
cssg

	intro
		// todo

*/

.intro {
	margin-bottom: $grid-4;
	text-align: center;
	user-select: none;

	img {
		max-width: 100%;
		height: auto;
		}
	}

/* /Intro
---------------------------------------------------------------------------------- */