/* Market
---------------------------------------------------------------------------------- */

@import "variables";

/*
cssg

	markets
	    markets_i +         __apple | __google

*/

.markets {
	margin-bottom: $grid-2;
	text-align: center;

	@media($media-m) {
		margin-bottom: $grid-4;
		}
	}

.markets_i {
	display: inline-block;
	vertical-align: middle;

	width: 149px;
	height: 44px;

	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-indent: 100%;

	margin: 0 $grid;

	& + & {
		margin-top: $grid;
		}

	@media($media-s) {
		margin: 0 $grid-2;

		& + & {
			margin-top: 0;
			}
		}
	}

	.markets_i__apple {
		@include bgi('/img/', 'apple', 'png');
		}

	.markets_i__google {
		@include bgi('/img/', 'google', 'png');
		}

/* /Market
---------------------------------------------------------------------------------- */